@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./img/bg_wave7.png);
    background-size: cover;
    background-color: rgb(235, 229, 220) ;
    margin: 0;
}

header{
    background-color: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    height: 50px;
    text-align: center;
    padding: 10px 0 10px;
}

main {
    display: grid;
    grid-template-columns: 180px 1fr;

}

aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    font-weight: 600;
    padding: 20px 0 20px 80px;
    color: #112A46;
}

aside ul li:hover{
font-weight: bolder;
font-size: 1.3rem;
}


section {
    padding: 20px 20px 20px 12px;
}

section img{
    display: grid;
    justify-content: right;
    align-items: right;
    padding: 30px 0 10px 30px;
    width: 60%;
}


